# Application
Django==2.1.5
djangorestframework==3.9.0
rest_condition

# QRCode
qrcode
django-qr-code
Pillow

# Authentication
django-allauth
django-oauth-toolkit
django-cors-middleware

# Database
psycopg2-binary

# Code quality
pylint
django-lint
pytest
autopep8