# Application
Django==2.1.5
djangorestframework==3.9.0

# Authentication
django-allauth
django-oauth-toolkit
django-cors-middleware

# Database
psycopg2-binary

# Code quality
pylint==2.2.2
django-lint==2.0.4
pytest